{{ solid.embed("header") }}
<div class="withside">
	<div class="container_16 padding50">
	{% set cart = cart.get() %}
	<form action="/cart" method="post">
		<div class="grid_16">
			<div class="content">
				<div class="shiztitle">
					<h2 class="title h2bg">Shopping Cart</h2>
				</div>
				<table >
					<tr class="blacky">
						<td class="table80">Verwijder</td>
						<td class="table100">Afbeelding</td>
						<td class="table210">Naam</td>
						<td class="table100">Hoeveelheid</td>
				      	<td class="table100">Prijs</td>
						<td>Total</td>
					</tr>
					{% for item in cart.items %}
						<tr>
							{% set str_img = item.thumbnail %}
							{% if str_img == "" %}
								{% set str_img = solid.files_url ~ "/images/notfound.jpg" %}
							{% endif %}
					      	<td>
					      		<a href="/cart/remove/{{ item.id }}" >Wis</a></td>
					      	<td>
				      			<a href="{{ item.url }}">
				      				<img src="{{ str_img }}" alt="{{ item.name }}" class="itemsmall" />
				      			</a>
					      	</td>
					      	<td>
					      		<p><a href="{{ item.url }}">{{ item.name }}</a></p>
					      		{% for variant in item.variants %}
					        		<p><em>{{ variant.value }}</em></p>
								{% endfor %}
							</td>
					      	<td>
					      		<input type="text" class="itemcount" name="quantity_{{ item.id }}" value="{{ item.quantity }}" id="itemcount" />
					      	</td>
							<td>
								{{ item.price|currency("symbol") }}
							</td>
							<td>
								{{ item.price_total|currency("symbol") }}
							</td>
						</tr>
					{% else %}
						Uw winkelmandje is leeg.
					{% endfor %}
				</table>

			</div>
		</div>

		<div class="grid_9">
		 	{% if cart.items_quantity > 0 %}
				<div class="total">Totaal : 
					<span class="bigprice">{{ cart.total }} {{ solid.currency }}</span>
				</div>
			{% endif %}
		</div>

		<div class="updaters">
			<input type="submit" class="mailsubmit" value="Afrekenen" name="btncheckout" id="checkouter"  />
		  	<input type="submit" class="mailsubmit" value="Aanpassen" name="btnupdate" />
		</div>

	</form>

	<div class="clear"></div>

	<a href="{{ solid.shop_url }}" class="yellow">Verder shoppen?</a>
	</div>
</div>





{{ solid.embed("footer") }}