{% set category = category.get() %}
{{ solid.embed("header") }}


<div class="withside">
  
  <div class="container_16 padding50">


      <div class="grid_16">
        <div class="ribbonbig">
          <div class="lijevo">

            <div class="bread">
              {% if category.subcategories|length > 0 %}
                {% for subcat in category.subcategories %}
                  <a href="{{ subcat.url }}">{{ subcat.name }}</a>&nbsp;&nbsp;&nbsp;
                {% endfor %}
              {% endif %}
            </div>
            {% if category.subcategories|length > 0 %}
              <div class="bigtitle">{{ category.name }}</div>
            {% else %}
              <div class="bigtitle2">{{ category.name }}</div>
            {% endif %}
          </div>
          
        </div>
      </div>
      
      <div class="container_16 main2">
        <div class="grid_11 lefthome">
          
          
          <div class="clear"></div>
          {% set productOptions = {"count": "12", "pagination":"true", "order":"date_modified:desc", "cat": category.nicename} %}
          {{ solid.embed("products_ul",{"qry":productOptions}) }}
          
          {{ solid.embed("pagination") }}
         
         </div>
      </div>


  </div>
</div>


{{ solid.embed("footer") }}