{{ solid.embed("header") }}

<div class="withside">
  <div class="container_16 main2">

    <div class="grid_11 lefthome">

      <h2 class="title">Producten in de kijker</h2>
      <div class="clear"></div>
      

        {% set productOptions = {"count": "12", order:"popularity"} %}
        {{ solid.embed("products_ul",{"qry":productOptions}) }}


        {% if solid.getGlobal("contact_email") != "" %}
            <p class="pink">Niet gevonden wat je zocht? Mail ons op <a href="mailto:{{solid.getGlobal("contact_email")}}">{{solid.getGlobal("contact_email")}}</a>, en we kijken wat je voor jou kunnen doen.</p>
          {% endif %}
      </div>


      <div class="clear"></div>


      <div class="title01">
        {% set pageObject = page.get("over-ons") %}
        <h2>{{pageObject.name}}</h2>

        <div class="about">
          {{pageObject.content}}
        </div>

        <div class="grid_4 righthome">
           {{ solid.embed("pages_div") }}
        </div>

        <div class="clear"></div>


      </div>
    </div>
  </div>

  {{ solid.embed("footer") }}