{{ solid.embed("header") }}

<div class="withside">
  <div class="container_16 main2">
    <div class="clear"></div>
    <div class="title01">
      {% set pageObject = page.get() %}

      <h2>{{pageObject.name}}</h2>
      <div class="about">
        <p>{{ pageObject.content }}</p> 
      </div>
     
      <div class="grid_4 righthome">
        {{ solid.embed("pages_div") }}
      </div>
      
      <div class="clear"></div>
    </div>
  </div>
</div>


{{ solid.embed("footer") }}