{% set product = product.get() %}
{{ solid.embed("header") }}
  
<script type="text/javascript">
  $(document).ready(function() {
  	// validate signup form on keyup and submit
  	$("#signupForm").validate({
        rules: {variant_3: "required", variant_4: "required"},			
  	messages: {variant_3: "Gelieve een maat te kiezen", variant_4: "Gelieve een kleur te kiezen"} 
  	});

  });
</script> 
<!--<script type:"text/javascript">
$(document).ready( function(){
    var str = $("#descr").text();
    var strTrim = $.trim(str);
    $("#descr").html("<p>"+strTrim +"</p>");
});
</script>-->
<div class="withside">
<div class="container_16 padding50">
  <div class="grid_16">
    <div class="ribbonbig">
      <div class="lijevo">
        <div class="bread"><a href="/">Home</a></div>
        {% for cat in product.categories %}
          <div class="bread">&gt;
            <a href="{{ cat.url }}">{{ cat.name }}</a>
          </div>
        {% endfor %}
        <div class="bigtitle">{{ product.name }}</div>
      </div>
      
    </div>
  </div>
  <div class="grid_11 singleleft">
    <!--<div class="shiztitle">
      <h2 class="title h2bg">{{ product.name }}</h2>
    </div>-->
    <div class="clear"></div>


    {% if product.images|length > 0 %}
      <div class="productimages">
        {% for image in product.images %}
          <div class="mainimg">
            <div class="picturelarge"><img src="{{ image.full }}" alt="{{ product.name }}" />
            </div>
          </div>
        {% endfor %}
        <span class="onsale">{{ product.price|currency("symbol") }}</span>
      </div>
    {% endif %}


    <div class="productdata">
      <form id="signupForm" action="/cart/add/{{product.id}}" method="post">
        
          {% if product.custom_fields|length > 0 %}
            {% for field_group,arr_field_group in product.custom_fields %}
              {% for field_name, arr_field in arr_field_group %} 
                <div class="infospan">{{ arr_field.label }}
                  <span>{{ arr_field.value }}</span>
                </div>
              {% endfor %}
            {% endfor %}
          {% endif %}
        
        {% if product.variant_combinations|length > 0 %}
          <h4>Opties</h4>
          <div id="placeholder_variants" class="infospan">
            <label for="variant_combination" >Selecteer een combinatie</label>
            <select id="variant_combination" name="variant_combination">
              {% for variant_combination in product.variant_combinations  %}
              <option value="{{ variant_combination.id }}">{{ variant_combination.name }} ({{ variant_combination.price|currency("symbol") }})</option>
              {% endfor %}
            </select>
          </div>
        {% endif %}
        
        <div class="quantity"> <span>Aantal:</span>
          <input type="text" class="quantityinput" name="quantity" value="1" size="3"/>
          <input type="submit" class="addtocart" id="btnSubmit" value="In winkelmandje" />
          
        </div>

      </form>
    </div>
      
    <div class="tabs"> 
      <!-- tabs -->
      <ul class="description">
        <li>{{ product.name }}</li>
        
      </ul>
   
      <!-- tab containers -->
      <div id="descr">
       {{ product.description }}
      </div>
      
    </div>

   
</div>
</div>


<div class="clear"></div>

<script type="text/javascript" src="{{ solid.files_url }}/js/solid.js"></script>
<script type="text/javascript">
    
     /* See the documentation on http://www.solidshops.com/help/javascriptlibrary for information about this library */
    
     function callbackStock(result)
     {
         var btnAddToCart = document.getElementById("btnSubmit");
         var productId = result.id;
         var stock = result.stock;
         if(result.stock > 0)
         {
           //product is in stock 
           btnAddToCart.removeAttribute("disabled");
           btnAddToCart.value = "In winkelmandje";           
         }
         else
         {
           //product is out of stock
           btnAddToCart.setAttribute("disabled", "disabled");
           btnAddToCart.value = "Niet meer in stock";
         }
     }
    
     SolidJS.symbol = "{{ solid.currency_symbol }} ";
     SolidJS.thousand = "{{ solid.currency_thousand }}";
     SolidJS.decimal = "{{ solid.currency_decimal }}"; 
   
     var product = {{ product|json }};
   
     var options = new Array();
     options['placeholder_price'] = "placeholder_price";
     options['option_text'] = "Maak een keuze...";
     options['placeholder_variants'] = "placeholder_variants";
     options['callback_stock'] = "callbackStock";
    
     {% if product.variant_combinations|length > 0 %}
      SolidJS.enhanceVariants(product,options);
     {% endif %}
  </script>
</div>


{{ solid.embed("footer") }}