{{ solid.embed("header") }}


<div class="withside">
  
  <div class="container_16 padding50">
      <div class="grid_16">
        
      </div>
      
      <div class="container_16 main2">
        <div class="grid_11 lefthome">
          

          <div class="clear"></div>

          {% set productOptions = {"count": "11", "pagination":"true", "search": solid.getUrlsegment(2)} %}
          {{ solid.embed("products_ul",{"qry":productOptions}) }}
          
          {{ solid.embed("pagination") }}
     

         
         </div>
      </div>
  </div>

</div>


{{ solid.embed("footer") }}