{{  solid.setGlobal("contact_phone", "02/123 45 56") }}
{{  solid.setGlobal("contact_mobile", "0499 12 34 56") }}
{{  solid.setGlobal("contact_email", "demo@demo.com") }}
{{  solid.setGlobal("contact_facebook", "https://www.facebook.com/solidshops") }}
