    <div class="subfooter">
      <div class="container_16 padding">
        <div class="boxwrap">
          
         
          <div class="footerboxlast"> 
            <a href="/">
              <span class="color_18">{{ solid.shop_name }}</span>
            </a>
            
            <div class="clear"></div>
            <ul class="infos">
              {% if solid.getGlobal("contact_phone") != "" %}
                <li class="fphone">{{solid.getGlobal("contact_phone")}}</li>
              {% endif %}
              {% if solid.getGlobal("contact_mobile") != "" %}
                <li class="fmobile">{{solid.getGlobal("contact_mobile")}}</li>
              {% endif %}
              {% if solid.getGlobal("contact_email") != "" %}
                <li class="fmail"><a href="mailto:{{solid.getGlobal("contact_email")}}">{{solid.getGlobal("contact_email")}}</a></li>
              {% endif %}
              {% if solid.getGlobal("contact_facebook") != "" %}
                <li class="fface"><a target="_blank" href="{{solid.getGlobal("contact_facebook")}}">facebook</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div> <!--end wrap -->
</body>
</html>