<!DOCTYPE html>
<html lang="en">
<head>
  {{ solid.embed("config") }}
  
  {% set firstsegment = solid.getUrlsegment(1) %}
  {% if firstsegment == "" %}
    {% set meta_title = solid.shop_name %}
    {% set meta_description = solid.shop_name %}
    {% set meta_keywords = solid.shop_name %}
  {% elseif firstsegment == "page" %}
    {% set pageObject = page.get() %}
    {% set meta_title = solid.shop_name ~ ' -> ' ~ pageObject.name %}
    {% set meta_description = pageObject.content|strip_tags|trim %}
    {% set meta_keywords = "" %}
  {% elseif firstsegment == "category" %}
    {% set categoryObject = category.get() %}  
    {% set meta_title = solid.shop_name ~ ' -> ' ~ categoryObject.name %}
    {% set meta_description = categoryObject.name %}
    {% set meta_keywords = categoryObject.name %} 
  {% elseif firstsegment == "cart" %}
    {% set meta_title = solid.shop_name ~ ' ->  cart' %}
    {% set meta_description = "Cart for " ~ solid.shop_name %}
    {% set meta_keywords = ""%}    
  {% elseif firstsegment == "search" %}
        {% set meta_title = solid.shop_name ~ ' -> ' ~ " search results for "~ " " ~ solid.getUrlsegment(2)|url_decode %}
        {% set meta_description = "" %}
        {% set meta_keywords = "" %}
  {% elseif firstsegment == "contact" %}
        {% set meta_title = solid.shop_name ~ ' -> ' ~ "Contact" %}
        {% set meta_description = "" %}
        {% set meta_keywords = "" %}
  {% elseif firstsegment == "product" %}
    {% set productObject = product.get() %} 
        {% set meta_title = solid.shop_name ~ ' -> ' ~ productObject.name %}
        {% set meta_description = productObject.description %}
        {% set meta_keywords = "" %} 
  {% endif %}
  
  <title>{{ meta_title }}</title> 
  <meta name="description" content="{{ meta_description|strip_tags }}" />
  <meta name="keywords" content="{{ meta_keywords|strip_tags }}" />
  <meta charset="utf-8" />

  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'>
  {{ solid.css("reset.css") }}
  {{ solid.css("text.css") }}
  {{ solid.css("960.css") }}
  {{ solid.css("style.css") }}
  <link href='http://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet' type='text/css'>
  
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script type="text/javascript" src="{{ solid.files_url }}/js/jquery.validate.js"></script>
  {{ solid.js("carousel.js") }}
  {{ solid.js("rating.js") }}
  {{ solid.js("anythingslider.js") }}
  {{ solid.js("custom.js") }}
</head>

<body>
  
  <div id="wrap">


    <div class="header">

      <div class="container_16">

        <div class="grid_10 logo"> 
          <a href="{{ solid.shop_url }}">
            <span class="color_2">{{ solid.shop_name }}</span><span class="color_18 font_16">Webshop</span>
          </a> 
        </div>

        <div class="grid_6">
          <a href="" target="_blank"></a>
          <a href="#" class="search">&nbsp;</a>

          <div class="searchtoggle">
            <form action="/search" method="post">
              <input type="text" id="s" onclick="this.value='';" onblur="this.value=!this.value?'Geef produkt in':this.value;" value="Geef produkt in" name="query">
            </form>
          </div>

        </div>

        <div class="grid_16 menu">

          <ul class="menu1">
            <li><a href="/">Home</a></li>
            {% for cat in category.getList({count : 9}) %}
            <li>
              <a href="{{ cat.url }}" title="{{ cat.name }}" >{{ cat.name }}</a>
            </li>
            {% endfor %}
          </ul>

          <div class="smallmenu">
            <ul>
              <li><a href="{{ solid.shop_url }}/cart" class="myshop">Winkelmandje/Betaling</a></li>
            </ul>
          </div>

        </div>

      </div><!--end container -->

    </div><!--end header -->