{% set arr_pages = page.getList() %}

<div>
	<h2 class="title">Info</h2><div class="shizzley shizzley3"></div>
	<div class="categorybox">
		<ul>
			{% for pageObject in arr_pages %}
				<li><a href="{{pageObject.url}}">{{pageObject.name}}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>