{% set pagination = solid.getPagination() %}
{% if pagination.pages|length > 1 %}

  {% if pagination.previous %}
      <a href="{{ pagination.previous_url }}">Vorige</a>
  {% endif %}


  {% for page in pagination.pages %}
      {% if page.number == pagination.current %}
          {{ page.number }}
      {% else %}
          <a href="{{ page.url }}">{{ page.number }}</a>
      {% endif %}

      {% if page.number != pagination.last %}|{% endif %}
  {% endfor %}

  {% if pagination.next %}
      <a href="{{ pagination.next_url }}">Volgende</a>
  {% endif %}

{% endif %}