{% set products = product.getList(embed.qry) %}
	
<ul class="featprod grayprod homelist">
	{% for product in products %}
		<li>
			<a href="{{ product.url }}"> 
				<div class="picture">
					{% set str_img = product.thumbnail %}
					{% if str_img == "" %}
						{% set str_img = solid.files_url ~ "/images/notfound.jpg" %}
					{% endif %}
					<img src="{{ str_img }}" width="220" alt="{{ product.name }}" class="fimg2" />
				</div>
			</a> 
			<span class="smalltitle"><a href="{{ product.url }}">{{ product.name }}</a></span> 
			<span class="smalldesc">{{ product.custom_fields.infofield.merk.value }} </span>
			<a href="{{ product.url }}"><span class="onsale">{{ product.price|currency("symbol") }}</span></a>
		</li>
	{% endfor %}
</ul>